@page "/"

<PageTitle>Home</PageTitle>

<h1>XLN SkyNet</h1>

Welcome to the XLN Chatbot

<div class="grid-container">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="XLN.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">XLN Homepage</h5>
                <p class="card-text">The link below will take you to the XLN's homepage, not associated with the chatbot</p>
                <a href="https://www.xln.co.uk/" class="btn btn-primary">Click here</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="workflowImage.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">XLN Homepage</h5>
                <p class="card-text">The link below will take you to the XLN's homepage, not associated with the chatbot</p>
                <a href="https://www.xln.co.uk/" class="btn btn-primary">Click here</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="XLN.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">XLN Homepage</h5>
                <p class="card-text">The link below will take you to the XLN's homepage, not associated with the chatbot</p>
                <a href="https://www.xln.co.uk/" class="btn btn-primary">Click here</a>
        </div>
        </div>
</div>


